<link rel="preload" href="{{ url_for('static', filename='fonts/Ethnocentric.otf') }}" as="font" type="font/otf" crossorigin>
{% include '_theme_override.html' %}
<style>
	:root {
		--brand-sky: #4FC3F7;
		--brand-sky-light: #B3E5FC;
		--brand-sky-deep: #0288D1;
		--brand-sky-dark: #29B6F6;
		--brand-gold: #4FC3F7;
		--brand-gold-light: #B3E5FC;
		--brand-gold-dark: #0288D1;
		--secondary-color: #4FC3F7;
		--accent-color: #4FC3F7;
		--bs-primary: #4FC3F7;
		--bs-primary-rgb: 79, 195, 247;
	}

	.navbar-brand img {
		filter: none !important;
	}
</style>
<style>
	:root {
		--brand-sky: #4FC3F7;
		--brand-sky-light: #B3E5FC;
		--brand-sky-deep: #0288D1;
		--brand-sky-dark: #29B6F6;
		--brand-gold: #4FC3F7;
		--brand-gold-light: #B3E5FC;
		--brand-gold-dark: #0288D1;
		--secondary-color: #4FC3F7;
		--accent-color: #4FC3F7;
		--bs-primary: #4FC3F7;
		--bs-primary-rgb: 79, 195, 247;
	}

	.navbar-brand img {
		filter: none !important;
	}
</style>
