<!DOCTYPE html>
<html>
<head>
    <title>Welcome to 3G DESIGN!</title>
</head>
<body>
    <h1>Welcome to 3G DESIGN, {{ name }}!</h1>
    <p>Thank you for joining our community. We're excited to help you with all your printing needs.</p>
    <p>Our services include:</p>
    <ul>
        <li>Custom T-shirts</li>
        <li>Banners and Signs</li>
        <li>Photo Frames</li>
        <li>And much more!</li>
    </ul>
    <p>If you have any questions, feel free to contact us.</p>
    <p>Best regards,<br>The 3G DESIGN Team</p>
</body>
</html>


